<div class="user-info">
  <h5 class="greeting">Hello {{session.name}}</h5>
  <form action="/user/logout" method="get">
    <button type="submit" class="btn btn-danger w-auto">
      <i class="fas fa-times"></i>
    </button>
  </form>
</div>