body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

a {
  color: #00B7FF;
}

#map {
  height: 500px;
  width: 100%;
}