@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');


body {
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
}

h1 {
  font-size: 1.5rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

#map {
  height: 22rem;
}

.shadow-img {
  margin-top: -2px;
  width: 100%;
  vertical-align: top;
}

.light-blue {
  background: #f1f6fa;
}

.main-form {
  display: flex;
  flex-direction: row;
  padding: 0 0 1rem;
}

#submit {
  width: 10rem;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.card {
  text-align: center;
  margin: 1rem;
}

.card > img {
  width: 32px;
}